<html>
    <body>
        <h2>Recuperar Senha</h2>
        <form method="POST">
            <label for="confirm-email">Confirmar Email: </label>
                <input name="email" id="confirm-email"><br>
            <h2>Método de Recuperação:</h2>
            <input type="radio" name="metodo" value="email" id="email" required>
            <label for="email">Email</label><br>
            <input type="radio" name="metodo" value="sms" id="sms"> 
            <label for="sms">SMS</label><br>
            <input type="radio" name="metodo" value="duplo" id="duplo">
            <label for="duplo">Duplo</label><br>
            <input type="radio" name="metodo" value="biometria" id="biometria" disabled>
            <label for="biometria">Biometria Facial</label><br>
            <button type="submit">Enviar</button>
        </form>
    </body>
</html>