<html>
    <body>
        <h2>Verificação Dupla</h2>
        <form method="POST">
            <label for="cod-email">Código Email:</label>
            <input name="codigo_email" id="cod-email"><br>
            <label for="cod-sms">Código SMS:</label>
            <input name="codigo_sms" id="cod-sms"><br>
            <label for="nova-senha">Nova Senha:</label>
            <input name="senha" type="password" id="nova-senha"><br>
            <button>Alterar</button>
        </form>
    </body>
</html>